var phone_count = parseInt($('.phone_count').text())
if (phone_count > 2) {
    $('.phone_count').html(phone_count - 1);
} else if (phone_count == 2) {
    $('.phone_count').html('1')
} else {
    $('#phone_results').html('<p class="lead">Nenhum telefone foi encontrado</p>')
}

$('div#<%= @phone.id %>').remove()
$('#phone-modal').modal('hide')

$('#messages').html('')
<% if flash[:notice] %>
$('#messages').append($("<div class='alert alert-info'></div>").html("<%= flash[:notice] %>"))
<% end %>
<% if flash[:alert] %>
$('#messages').append($("<div class='alert alert-danger'></div>").html("<%= flash[:alert] %>"))
<% end %>