$('div#<%= @phone.id %>').remove()
$('#phone-modal').modal('hide')

$('#messages').html('')
<% if flash[:notice] %>
$('#messages').append("<div class='alert alert-info alert-dismissible'>" +
    "<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>" +
    "<%= flash[:notice] %>" +
    "</div>")
<% end %>
<% if flash[:alert] %>
$('#messages').append($("<div class='alert alert-danger'></div>").html("<%= flash[:alert] %>"))
<% end %>