<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t 'view.phone.header_edit' %></h2>
  </div>

  <div class="panel-body" id="phone_form">
    <%= render 'form', phone: @phone %>
  </div>
</div>