<!--<div class="well">-->
<!--<%= link_to "Adicionar Telefone", new_phone_path, remote: true, class: "btn btn-primary" %>-->
<!--</div>-->
<div class="new-phone"></div>

<ul id="phone_list">
  <%= render @phones %>
</ul>


<div id="phone-modal" class="modal fade"></div>