<% if @term.blank? %>
    <p class="lead"><%= @phones.count %> telefone(s) foram encontrados</p>
<% else %>
    <p class="lead"><%= @phones.count %> telefone(s) foram encontrados para <strong><%= @term %></strong></p>
<% end %>

<div class="container">
  <%= render @phones %>
</div>

<div id="phone-modal" class="modal fade"></div>