<div class="container" id="phone_list">
  <% if @term.blank? %>
      <p class="lead"><span class="phone_count"><%= @phones.count %></span> telefone(s) foram encontrados</p>
  <% else %>
      <p class="lead"><span class="phone_count"><%= @phones.count %></span> telefone(s) foram encontrados para <strong><%= @term %></strong></p>
  <% end %>

  <%= render @phones %>
</div>

<div id="phone-modal" class="modal fade"></div>