<% if person.phones.size == 1 %>
    <%= render person.phones.first %>
<% else %>
    <div class="col-sm-12 container card" style="border-top-style: solid; border-top-width: 1px; border-top-color: lightgrey; padding: 10px">

      <div class="col-sm-12 col-md-8">
        <h3><%= person.name %></h3>
      </div>

      <% if person.phones.size >= 1 %>
          <div class="col-sm-12 col-md-4" style="padding: 4% 0">
            <%= link_to 'Ver telefones', phones_person_path(person), class: 'btn btn-default btn-lg btn-block' %>
          </div>
      <% end %>
    </div>
<% end %>