<div class="col-xs-12 container card" style="border-top-style: solid; border-top-width: 1px; border-top-color: lightgrey; padding: 10px">
  <div class="col-xs-12">
    <h3><%= "#{phone.ddr} - " if phone.ddr %> <%= phone.branch %></h3>
  </div>
  <div class="col-xs-12">
    <h4><%= link_to phone.person.name, search_people_path(phone.person) %></h4>
  </div>
  <div class="col-xs-12">
    <h5>
      <%= division_path_links(phone.division) %>
    </h5>
  </div>
</div>