<%= content_for :header_title, (t 'view.user.header') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t 'view.user.header_edit' %></h2>
  </div>

  <div class="panel-body" id="phone_form">
    <%= render 'form', user: @user %>
  </div>

</div>
