<div class="well">
  <h1><%= t 'view.user.header_new' %></h1>

  <%= render 'form', user: @user %>

  <%= link_with_icon (t 'back'), users_path, "glyphicon-chevron-left",
                     {class: "btn btn-default", style: "margin-top: 2px"}  %>
</div>

