// Place all the styles related to the Phone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: inherit;
  border-spacing: 0px 5px;
}

.table > tbody > tr > td {
  border-width: 0px;
  vertical-align: middle;
}

.table > thead > tr > th {
 text-align: center;
}

pre {
  border-width: 0px;
  background-color: inherit;
  margin: inherit;
  padding: 0px;
}

.tree {
  white-space: pre;
}