// Place all the styles related to the Phone controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#phone_list > li:nth-child(odd) {
//  background-color: lightgrey;
//  color: black;
//}
//
//#phone_list > li:nth-child(even) {
//  color: white;
//}

#phone_list {
  margin: 0px;
  padding: 0px;
}

.phone_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.phone_info {
  display: flex;
  width: 40%;
  justify-content: center;
  flex-direction: column;

  span {
    display: block;
    text-align: center;
  }
}

.phone_name, .phone_number, .phone_branch {
  margin: 0px auto;
}

.phone_name {
  font-size: 2em;
}

.phone_number {
  font-size: 1.5em;
}

.phone_branch {
  font-size: 1.2em;
}

.phone_buttons {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
    width: 50%;
    margin: 2px auto;
  }
}

.division_tree li {
  list-style-type: none;
}

.division_tree > ul li:before {
  background-image: url("Bottom_right_U-512.png");
  background-size: 20px 20px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
}

.division_tree {
  align-self: center;
}