<footer class="footer" style="background-color: #656363; color: #fff; margin: 0px; height: 80px;">

  <hr style="margin: 0; background-color: #b0b0b0; height: 3px;">

  <div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
    <span style="font-size: 18px;">Prefeitura Municipal de Jaboticabal</span><br>
    <address style="padding: 0; margin: 0;">
      Esplanada do Lago, 160 - Vila Serra -CEP: 14870-900 |Telefone: (16) 3209.3322
    </address>
  </div>
</footer>