<div class="container" style="height: 100px">
  <table>
    <tr>
      <td>
        <div>
          <a href="<%= root_url %>">
            <%= image_tag "BrasaoJaboticabal.svg.png", style: "padding: 15px; width: 100px" %>
          </a>
        </div>
      </td>
      <td>
        <span style="font-size: 14px; font-weight: bold;"></span>
        <br/>
        <span style="font-size: 26px; font-weight: bold;">Prefeitura Municipal de Jaboticabal</span><br/>
        <span style="font-size: 22px;">
          Lista Telefônica
        </span>
      </td>
    </tr>
  </table>
</div>


<%= render 'layouts/navbar' %>


