<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="<%= root_url %>">
    <%= image_tag "BrasaoJaboticabal.svg.png", style: "width: 40px; display: inline-block; margin-top: -10px " %>
    <%= t 'phone_book' %>
  </a>
</div>