<nav class="navbar navbar-default navbar-inverse" data-spy="affix" data-offset-top="110" style="min-width: 275px; border-radius: 0px">
  <div class="container-fluid">

    <%= render 'layouts/navbar_header' %>

    <div class="collapse navbar-collapse" id="myNavbar">

      <%= render 'layouts/navbar_menus' %>

      <%= render 'layouts/navbar_search' %>
    </div>
  </div>
</nav>
