<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="border-radius: 0px">
  <div class="container-fluid">

    <%= render 'layouts/navbar_header' %>

    <div class="collapse navbar-collapse" id="myNavbar">

      <%= render 'layouts/navbar_menus' %>
    </div>
  </div>
</nav>